/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/
@font-face {
  font-family: 'fontello';
  src: url("fonts/fontello.eot?41320862");
  src: url("fonts/fontello.eot?41320862#iefix") format("embedded-opentype"), url("fonts/fontello.woff?41320862") format("woff"), url("fonts/fontello.ttf?41320862") format("truetype"), url("fonts/fontello.svg?41320862#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FanwoodRegular';
  src: url("fonts/Fanwood-webfont.eot");
  src: url("fonts/Fanwood-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Fanwood-webfont.woff") format("woff"), url("fonts/Fanwood-webfont.ttf") format("truetype"), url("fonts/Fanwood-webfont.svg#FanwoodRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FanwoodItalic';
  src: url("fonts/Fanwood-Italic-webfont.eot");
  src: url("fonts/Fanwood-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Fanwood-Italic-webfont.woff") format("woff"), url("fonts/Fanwood-Italic-webfont.ttf") format("truetype"), url("fonts/Fanwood-Italic-webfont.svg#FanwoodItalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'LinuxBiolinumORegular';
  src: url("fonts/LinBiolinum_R-webfont.eot");
  src: url("fonts/LinBiolinum_R-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/LinBiolinum_R-webfont.woff") format("woff"), url("fonts/LinBiolinum_R-webfont.ttf") format("truetype"), url("fonts/LinBiolinum_R-webfont.svg#LinuxBiolinumORegular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'LinuxBiolinumOItalic';
  src: url("fonts/LinBiolinum_RI-webfont.eot");
  src: url("fonts/LinBiolinum_RI-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/LinBiolinum_RI-webfont.woff") format("woff"), url("fonts/LinBiolinum_RI-webfont.ttf") format("truetype"), url("fonts/LinBiolinum_RI-webfont.svg#LinuxBiolinumOItalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'LinuxBiolinumOBold';
  src: url("fonts/LinBiolinum_RB-webfont.eot");
  src: url("fonts/LinBiolinum_RB-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/LinBiolinum_RB-webfont.woff") format("woff"), url("fonts/LinBiolinum_RB-webfont.ttf") format("truetype"), url("fonts/LinBiolinum_RB-webfont.svg#LinuxBiolinumOBold") format("svg");
  font-weight: normal;
  font-style: normal; }
/* global box-sizing */
*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

/* html element 62.5% font-size for REM use */
html {
  font-size: 75%; }

body {
  font-family: "Arimo", Arial, sans-serif;
  font-size: 1em;
  background-color: #CCC8C4; }

/* clear */
.clear:before,
.clear:after {
  content: ' ';
  display: table; }

.stickylogo {
  display: none;
  position: absolute;
  width: 400px;
  height: 35px;
  overflow: hidden;
  padding: 5px;
  top: 0;
  left: 0; }
  .stickylogo img {
    width: 75%;
    height: auto; }
  @media only screen and (max-width: 1023px) {
    .stickylogo {
      margin: -500px 0 0 0; } }

.clear:after {
  clear: both; }

.clear {
  *zoom: 1; }

a {
  text-decoration: none !important; }

a:focus {
  outline: 0; }

a:hover,
a:active {
  outline: 0; }

a:hover > img.wp-post-image, a:hover > img.attachment-secondary-image {
  background-color: #e2f000;
  opacity: 0.90;
  filter: alpha(opacity=90);
  /* For IE8 and earlier */ }

h1, h2, h3 {
  line-height: 1em; }

p, .read-more {
  font-size: 0.85em;
  line-height: 1.75em; }

input:focus {
  color: black;
  outline: 0;
  border: 1px solid #e2f000; }

.outline {
  border: 1px solid #CCC8C4; }

.black {
  background-color: black; }

#pl-3191 img {
  height: auto; }

#mobilenav {
  transition: max-height 0.6s;
  width: 100%;
  z-index: 100;
  background-color: black;
  display: none;
  overflow: hidden; }
  #mobilenav ul {
    position: relative;
    margin: 0 0 0 -30px;
    text-align: center; }
  #mobilenav li {
    width: 100%;
    display: block;
    z-index: 25;
    cursor: pointer;
    padding: 3px 3px 3px 0px;
    margin: 0 0 2px 0; }
    #mobilenav li a {
      color: white !important;
      display: block;
      font-size: 1.3em !important;
      width: 100%;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      line-height: 2em; }
  #mobilenav li:hover a {
    color: #e2f000 !important; }
  #mobilenav .mastheadmobile {
    width: 100%;
    position: relative;
    text-align: center;
    background-color: black;
    padding: 10px 0 0 0;
    margin: 0; }
    #mobilenav .mastheadmobile img {
      width: 50%; }

a.mobilenavtrigger {
  transition: all 0.25s ease;
  font-family: "fontello", Arial, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  text-align: center;
  padding: 7px;
  color: white;
  background-color: #4d4d4d;
  z-index: 101; }
  @media only screen and (min-width: 768px) {
    a.mobilenavtrigger {
      display: none; } }

a.mobilenavtrigger:hover {
  transition: all 0.25s ease;
  background-color: #e2f000;
  color: black; }

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  position: relative; }
  @media only screen and (max-width: 767px) {
    .wrapper {
      width: 100%;
      padding: 0; } }
  @media only screen and (min-width: 768px) {
    .wrapper {
      width: 100%;
      padding: 0 10px; } }
  @media only screen and (min-width: 1024px) {
    .wrapper {
      width: 1024px;
      padding: 0; } }
  @media only screen and (min-width: 1140px) {
    .wrapper {
      width: 1140px;
      padding: 0; } }
  @media only screen and (min-width: 1280px) {
    .wrapper {
      width: 1280px;
      padding: 0; } }

.masthead {
  width: 100%;
  position: relative;
  text-align: center;
  background-color: white;
  padding: 10px 0 15px 0; }
  .masthead img {
    width: 50%; }

.filmplayer {
  width: 100%;
  height: auto;
  z-index: 25; }

.atmosphere {
  position: absolute;
  width: 269px;
  height: 189px;
  top: 5px;
  left: -25px;
  z-index: 41; }
  .atmosphere img {
    width: 100%; }
  @media only screen and (max-width: 1023px) {
    .atmosphere {
      display: none; } }
  @media only screen and (min-width: 1024px) and (max-width: 1139px) {
    .atmosphere {
      left: -52px; }
      .atmosphere img {
        width: 75%; } }

.atmosphere:hover {
  opacity: 0.75;
  filter: alpha(opacity=75);
  /* For IE8 and earlier */ }

.navigation, .navigation-static {
  width: 100%;
  z-index: 40;
  padding: 0;
  background-color: white;
  position: relative; }
  @media only screen and (max-width: 767px) {
    .navigation, .navigation-static {
      display: none; } }

.menu {
  margin: 0; }

.bmenu {
  width: 100%;
  position: relative; }
  .bmenu ul {
    padding: 3px 0 3px 0;
    background-color: black;
    text-align: center; }
  .bmenu li {
    padding: 8px 5px 5px 5px;
    list-style: none;
    display: inline;
    position: relative; }
    .bmenu li ul {
      display: none;
      width: 240px;
      white-space: nowrap;
      text-align: center;
      position: absolute;
      left: 50%;
      height: auto;
      z-index: 20;
      background-color: rgba(0, 0, 0, 0.85);
      padding: 10px 0 10px 0;
      margin: 0 0 0 -120px; }
      .bmenu li ul li {
        width: 100%;
        display: block;
        z-index: 25;
        cursor: pointer;
        padding: 3px 3px 3px 0px;
        margin: 0 0 2px 0; }
        .bmenu li ul li a {
          color: white !important;
          display: block;
          font-size: 0.85em !important;
          width: 100%;
          letter-spacing: 0.2em; }
      .bmenu li ul li:hover a {
        color: #e2f000 !important; }
  .bmenu a {
    padding: 5px;
    margin: 0 1%;
    text-align: center;
    font-size: 1.20em;
    letter-spacing: 0.2em;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    transition: all 0.2s;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility; }
  .bmenu li:hover > ul {
    display: block; }
  .bmenu li:hover a {
    color: #e2f000; }
  .bmenu a:hover {
    color: #e2f000; }

.sb-search {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  min-width: 30px;
  height: 30px;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-backface-visibility: hidden; }

.sb-search-input {
  padding-left: 5px;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  background: #ecece6;
  width: 100%;
  height: 30px;
  margin: 0;
  z-index: 10;
  font-family: "Arimo", Arial, sans-serif;
  font-size: 1em;
  color: black; }

.sb-search-input:focus {
  border: 0px;
  outline: none; }

.sb-search-input::-webkit-input-placeholder {
  color: black; }

.sb-search-input:-moz-placeholder {
  color: black; }

.sb-search-input::-moz-placeholder {
  color: black; }

.sb-search-input:-ms-input-placeholder {
  color: black; }

.sb-icon-search,
.sb-search-submit {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  line-height: 30px;
  text-align: center;
  cursor: pointer; }

.sb-search-submit {
  background: #fff;
  /* IE needs this */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 8 */
  filter: alpha(opacity=0);
  /* IE 5-7 */
  opacity: 0;
  color: transparent;
  border: none;
  outline: none;
  z-index: -1; }

.sb-icon-search {
  margin: 0;
  color: white;
  background: #B2AEAA;
  z-index: 90;
  font-size: 18px;
  font-family: "fontello", Arial, sans-serif;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased; }

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
  width: 250px; }

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
  background: black;
  color: white;
  z-index: 11; }

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
  z-index: 90; }

section {
  width: 100%;
  overflow: hidden;
  font-size: 1.25em;
  position: relative;
  padding: 0 0 0 0;
  background-color: black; }

.testdiv {
  width: 100%; }

.megacontent {
  width: 100%;
  padding: 0 5px 15px 0;
  overflow: hidden; }

.flex85 {
  -webkit-box-flex: 8.5;
  -moz-box-flex: 8.5;
  -webkit-flex: 8.5;
  -ms-flex: 8.5;
  flex: 8.5;
  margin: 0 10px 10px 0; }

.maincontent {
  vertical-align: top;
  display: table-cell;
  width: 85%;
  padding: 0 0 15px 0;
  overflow: hidden; }
  @media only screen and (max-width: 1023px) {
    .maincontent {
      width: 100%;
      padding: 0; } }

.grafik {
  position: relative;
  background-color: black;
  width: 100%;
  min-height: 600px; }

.grafiklinks {
  height: 100%;
  width: 10%;
  overflow: hidden;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -ms-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s; }
  .grafiklinks img {
    height: 100%;
    width: auto; }

.grafiklinks:hover {
  width: 20%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -ms-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s; }

.gprojects {
  width: 80%;
  position: absolute;
  text-align: center;
  margin: s 0 0 -25%;
  top: 140px;
  height: 500px;
  left: 50%;
  z-index: 25;
  overflow: hidden; }

.testcontainer {
  width: 100px;
  overflow: hidden;
  position: fixed;
  background-color: blue;
  top: 0;
  left: 0; }

.sidebar {
  vertical-align: top;
  line-height: 0;
  padding: 0 5px 5px 5px;
  border-left: 15px solid white;
  background-color: black;
  display: table-cell; }
  .sidebar a:hover {
    opacity: 0.85;
    filter: alpha(opacity=85);
    /* For IE8 and earlier */ }
  .sidebar span {
    position: relative;
    margin: 0 2px 0 0; }
  .sidebar h2 {
    padding: 8px 5px 5px 5px;
    margin: 0;
    font-weight: 400;
    font-style: normal;
    position: relative;
    text-align: center !important;
    color: white;
    height: 32px;
    font-size: 1.20em;
    line-height: 1.2em; }
  .sidebar h3.widget-title {
    color: #e2f000; }
  .sidebar p {
    color: #e2f000;
    font-size: 0.75em;
    font-weight: 400; }
  .sidebar img {
    width: 100%;
    height: auto;
    margin-bottom: 10px; }
  .sidebar figure {
    background-color: white;
    position: relative;
    margin: 0 0 10px 0;
    width: 100%;
    display: block; }
    .sidebar figure img {
      width: 100%;
      height: auto; }
  @media only screen and (max-width: 1023px) {
    .sidebar {
      display: none; } }
  .sidebar .option1 {
    display: none; }

.footer {
  width: 100%;
  background-color: black;
  color: white;
  padding: 40px 20px 20px 10px;
  overflow: hidden; }
  @media only screen and (max-width: 767px) {
    .footer {
      padding: 10px; } }
  .footer img {
    max-width: 100%;
    vertical-align: bottom; }
  .footer ul {
    padding: 0;
    margin: 0; }
  .footer li {
    margin: 0;
    list-style: none;
    padding: 5px 10px; }
  .footer a {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    color: #B2AEAA;
    font-size: 0.9em;
    border-left: 1px solid #B2AEAA;
    padding: 0 5px;
    transition: all 0.2s; }
  .footer a:hover {
    color: #e2f000;
    border-left: 10px solid #e2f000;
    transition: all 0.4s; }
  .footer .search-input {
    width: 100%;
    height: 22px;
    outline: 0px;
    color: white;
    border: 1px solid #4d4d4d;
    background-color: #4d4d4d;
    position: relative;
    font-family: "Arimo", Arial, sans-serif; }
  @media only screen and (max-width: 767px) {
    .footer #footerinfo {
      display: none; } }
  .footer ::-webkit-input-placeholder {
    color: #B2AEAA; }
  .footer .search-submit {
    background-color: #4d4d4d;
    text-align: center;
    position: absolute;
    top: 1px;
    right: 1px;
    border: none;
    height: 22px;
    font-family: "fontello", Arial, sans-serif;
    font-size: 1em;
    width: 22px;
    color: white; }
  .footer .search-submit:hover {
    color: #B2AEAA; }

.links {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3; }
  @media only screen and (max-width: 1023px) {
    .links {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2; } }

.copyright {
  font-size: 1.25em;
  text-align: center;
  color: #e2f000;
  position: relative;
  padding: 20px;
  height: 40px;
  position: relative; }
  @media only screen and (max-width: 7687px) {
    .copyright {
      padding: 0; } }

/*------------------------------------*\
    Columns
\*------------------------------------*/
.col {
  float: left;
  position: relative; }

.col33 {
  width: 33.33%; }

.col100 {
  width: 100%; }

.col80 {
  width: 80%; }

.col75 {
  width: 75%; }

.col70 {
  float: left;
  width: 70%; }

.col65 {
  float: left;
  width: 65%; }

.col60 {
  float: left;
  width: 60%; }

.col55 {
  width: 55%; }

.col50 {
  width: 50%; }

.col45 {
  float: left;
  width: 45%; }

.col40 {
  float: left;
  width: 40%; }

.col35 {
  float: left;
  width: 35%; }

.col30 {
  float: left;
  width: 30%; }

.col25 {
  width: 25%; }

.col28 {
  width: 28%; }

.col20 {
  width: 20%; }

.col15 {
  width: 15%; }

.col10 {
  width: 10%; }

.col5 {
  width: 5%; }

.col2 {
  width: 2%; }

@media only screen and (max-width: 767px) {
  .col20, .col25, .col30, .col33, .col35, .col40, .col50, .col60, .col70, .col75, .col80, .col10, .col5, .col2, .col28 {
    width: 100%; } }

.H800 {
  height: 800px; }

.H700 {
  height: 700px; }

.H600 {
  height: 600px; }

.H500 {
  height: 500px; }

.H450 {
  height: 450px; }

.H400 {
  height: 400px; }

.H300 {
  height: 300px; }

.H200 {
  height: 200px; }

.H100 {
  height: 100px; }

@media only screen and (max-width: 1279px) {
  .H100, .H200, .H300, .H400, .H450, .H500, .H600, .H700, .H800 {
    height: auto; } }

.tab2 {
  width: 2%; }

.tab5 {
  width: 5%; }
  .tab5 p {
    text-align: right !important; }

.tab15 {
  width: 15%;
  padding-left: 10px; }

.tab28 {
  width: 28%; }

.tab50 {
  width: 50%;
  padding-right: 10px; }
  @media only screen and (max-width: 767px) {
    .tab50 {
      width: 30%; } }

.gdouble {
  padding: 10px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px; }
  .gdouble a {
    display: block;
    margin: 0 0 20px 0; }
  @media only screen and (max-width: 767px) {
    .gdouble {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1; } }

.double {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px; }
  @media only screen and (max-width: 767px) {
    .double {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1; } }

.sidemodule {
  width: 100%;
  padding: 0 0 10px 0; }

.box {
  width: 100%;
  height: 100%;
  border: 1px solid #CCC8C4;
  background-color: white;
  overflow: hidden; }
  .box img {
    width: 100%;
    height: auto; }

.S {
  padding: 0 0 10px 0; }

.L {
  padding: 0 5px 10px 0; }

.M {
  padding: 0 5px 10px 5px; }

.R {
  padding: 0 0 10px 5px; }

.dark {
  background-color: black;
  color: white; }

a.startthumbnail {
  display: block;
  width: calc(101% + 20px);
  margin-top: -10px;
  margin-left: -10px;
  background-color: white !important; }
  a.startthumbnail img {
    width: 100%;
    height: auto; }
  a.startthumbnail h2 {
    padding-left: 0; }

a.thumbnail {
  display: block;
  background-color: white !important; }

a.sidelink {
  color: white; }

a.sidelinke:visited {
  color: white; }

a.sidelink:hover {
  color: black !important;
  background-color: #e2f000 !important; }
  a.sidelink:hover h3 {
    background-color: #e2f000; }

.sideroller:hover > figure {
  margin-left: 100%;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

.sideroller > figure {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

article {
  position: relative;
  display: block; }
  article span.pps-next, article span.pps-slide-count {
    display: none; }
  article .pps-slider-nav {
    display: none; }
  article h2 {
    padding-top: 15px;
    padding-bottom: 5px;
    margin-bottom: 0; }
  article .textwrap {
    padding-top: 0; }

.module, article {
  position: relative;
  background-color: white;
  height: 100%;
  overflow: hidden;
  padding: 0 0 5px 0; }
  .module .underline, article .underline {
    margin: 0 0 40px 0;
    border-bottom: 1px solid #CCC8C4; }
  .module h1, article h1 {
    color: #B2AEAA;
    display: block;
    font-weight: 400;
    font-size: 0.95em;
    background-color: white;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    height: 32px;
    margin-top: 8px; }
    .module h1 strong, article h1 strong {
      height: 32px;
      margin-top: 8px;
      padding: 7px 10px;
      background-color: black;
      font-weight: 400;
      font-style: normal; }
    .module h1 span, article h1 span {
      font-size: 0.95em;
      text-transform: none;
      padding-left: 10px; }
  .module img, article img {
    width: 100%;
    height: auto; }
  .module .responsivecontainer, article .responsivecontainer {
    width: 70%;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    overflow: hidden; }
    @media screen and (max-width: 767px) {
      .module .responsivecontainer, article .responsivecontainer {
        width: 100%;
        position: relative;
        float: left; } }
  .module .responsiveimage, article .responsiveimage {
    position: absolute;
    margin-left: -50%;
    left: 50%;
    top: 0; }
    @media screen and (max-width: 767px) {
      .module .responsiveimage, article .responsiveimage {
        width: 100%;
        height: auto;
        position: relative; } }
    @media only screen and (min-width: 768px) {
      .module .responsiveimage, article .responsiveimage {
        height: 102%;
        width: auto; } }
    @media only screen and (min-width: 1024px) {
      .module .responsiveimage, article .responsiveimage {
        width: 130%;
        height: auto; } }
    @media only screen and (min-width: 1140px) {
      .module .responsiveimage, article .responsiveimage {
        width: 120%;
        height: auto; } }
    @media only screen and (min-width: 1280px) {
      .module .responsiveimage, article .responsiveimage {
        width: auto;
        height: 102%; } }
  .module a:hover, article a:hover {
    background-color: #e2f000; }
  .module a, article a {
    color: black;
    text-decoration: none !important;
    font-weight: 700; }
  .module a img, article a img {
    margin: -6px 0; }
  .module .textwrap, article .textwrap {
    padding: 10px;
    overflow: hidden; }
  .module li, article li {
    display: inline-block !important;
    break-inside: avoid-column !important;
    -webkit-column-break-inside: avoid !important; }
  .module .nobreak, article .nobreak {
    padding: 0 0 20px 0;
    border-bottom: 1px solid #CCC8C4;
    margin: 0 0 20px 0; }
    .module .nobreak ul, article .nobreak ul {
      float: right; }
  .module .nobreak img, article .nobreak img {
    width: 100%;
    height: auto; }
  .module .thumbcontainer, article .thumbcontainer {
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .module .thumbcontainer img, article .thumbcontainer img {
      height: 100% !important;
      width: auto !important; }
  .module .smallthumb, article .smallthumb {
    margin: -10px 10px 0 10px;
    float: right; }

.moduleheader {
  width: 100%;
  background-color: black;
  overflow: hidden;
  padding: 0 5px 5px 5px; }
  .moduleheader h2 {
    text-transform: uppercase;
<<<<<<< HEAD
    color: black;
=======
    color: white;
>>>>>>> 2016-redesign
    font-size: 1.20em;
    font-weight: 400;
    line-height: 1.2em;
    padding-left: 5px; }
  .moduleheader h3 {
    color: white; }
  .moduleheader span {
    display: block;
    text-transform: none;
    font-size: 0.9em;
    letter-spacing: 0em;
    font-weight: 400;
    color: white; }

.singletitle h2 {
  text-transform: uppercase;
  float: left;
  font-size: 1.25em;
  font-weight: 400;
  margin-right: 10px;
  line-height: 1.15em;
  color: #4d4d4d; }
.singletitle h3 {
  color: #B2AEAA; }
.singletitle span {
  text-transform: none;
  font-size: 0.85em;
  letter-spacing: 0em;
  font-weight: 400; }

.mega p {
  width: 100% !important;
  font-size: 1.25em;
  text-align: left; }

.awards h2 {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 400;
  margin-right: 10px;
  line-height: 1.2em; }

#overlay {
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.85); }
  #overlay img {
    position: absolute;
    top: 0;
    right: 0; }

.videoatmo {
  background-color: black; }

.videoWrapper {
  z-index: 31;
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.factsheader {
  overflow: hidden; }
  .factsheader a, .factsheader .title {
    font-weight: 600;
    font-size: 1.10em;
    float: left;
    display: block;
    white-space: nobreak; }
  .factsheader p {
    font-weight: 300;
    font-size: 1.10em;
    display: block;
    white-space: nobreak; }

.factboxactive {
  background-color: black;
  color: white; }

.factbox {
  font-size: 0.85em;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #CCC8C4;
  position: relative;
  padding: 10px 0 0 0; }
  .factbox p {
    margin: 2px 2px 2px 0; }
  .factbox ul {
    margin: 0 0 0 0; }
  .factbox a, .factbox li {
    line-height: calc(1.4em + 5px);
    margin: 2px 2px 2px 0; }
  .factbox a.blank {
    height: 2px;
    width: 0;
    border: 6px solid transparent;
    margin: 8px 5px 10px 5px;
    border-left-color: white;
    cursor: default; }
  .factbox a.blank:hover {
    background-color: white !important; }
  .factbox a.trigger {
    height: 2px;
    width: 0;
    border: 6px solid transparent;
    margin: 8px 5px 10px 5px;
    border-left-color: #CCC8C4; }
  .factbox a.trigger:hover {
    border-left-color: black;
    background-color: transparent !important; }
  .factbox a.active {
    border-left-color: transparent;
    border-top-color: white; }
  .factbox a.active:hover {
    border-left-color: transparent;
    border-top-color: #CCC8C4; }
  .factbox .open {
    background-color: #e2f000; }
  .factbox .toggle {
    width: 100%;
    padding: 5px 5px 5px 20px;
    display: none; }
    .factbox .toggle span.tablepress-table-description {
      color: white;
      background-color: black; }
    .factbox .toggle a {
      color: white !important; }
    .factbox .toggle a:hover {
      color: black !important; }

.archives {
  background-color: #ecece6;
  padding: 10px;
  margin: 30px 0 10px 0; }
  .archives li {
    display: block;
    width: 100%;
    border-bottom: 1px solid white; }
  .archives li:last-child {
    border-bottom: none; }
  .archives a {
    display: block;
    padding: 5px; }
  .archives a:hover {
    background-color: white; }

nav.pps-slider-nav {
  position: absolute;
  width: 100%;
  top: 58px;
  right: 12px;
  text-align: right;
  font-size: 0.85em; }
  nav.pps-slider-nav a {
    font-size: 0.85em;
    background-color: #ecece6;
    padding: 7px;
    font-weight: 300;
    font-variant: normal; }
  nav.pps-slider-nav a:hover {
    background-color: #e2f000; }

/*------------------------------------*\
    Frontpage Image Container Stuff
\*------------------------------------*/
.heroimage {
  width: 101% !important;
  overflow: hidden; }
  .heroimage img {
    width: 100%;
    height: auto; }

.shift img {
  margin-top: -25% !important; }

.shift2 img {
  margin-top: -12.5% !important; }

.imagecontainer {
  width: 100%;
  overflow: hidden; }
  .imagecontainer img {
    height: 105% !important;
    width: auto !important; }

.yellow {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(236, 236, 230, 0.9); }

.row {
  width: 100%; }

/*------------------------------------*\
    IMAGES
\*------------------------------------*/
/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/
/*------------------------------------*\
    MISC
\*------------------------------------*/
::selection {
  background: #e2f000;
  color: black;
  text-shadow: none; }

::-webkit-selection {
  background: #e2f000;
  color: black;
  text-shadow: none; }

::-moz-selection {
  background: #e2f000;
  color: black;
  text-shadow: none; }

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/
a.triangle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 10px 10px 50px;
  display: block;
  background-color: rgba(225, 220, 215, 0.85);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 2;
  font-weight: 400;
  font-style: normal;
  text-align: right;
  text-transform: uppercase;
  margin: 0 !important;
  font-size: 0.65em;
  color: black; }
  @media screen and (max-width: 767px) {
    a.triangle {
      display: none; } }

a.triangle:visited, a.triangle:active, a:focus {
  color: black; }

a.triangle:hover {
  color: black;
  padding: 10px 10px 10px 70px;
  background-color: #e2f000;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

.potenzial p {
  width: 100% !important; }
.potenzial a {
  color: white; }
.potenzial a:hover {
  background-color: white;
  color: black; }

.post-categories, #menu-spirit {
  width: 100%;
  float: right; }
  .post-categories li, #menu-spirit li {
    float: right;
    margin: 2px 0px 0px 2px; }
  .post-categories a, #menu-spirit a {
    border-left: 1px solid #ecece6;
    background-color: #ecece6;
    font-size: 0.85em;
    padding: 5px;
    font-weight: 400;
    font-style: normal;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
  .post-categories a:hover, #menu-spirit a:hover {
    background-color: #e2f000;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }

#menu-spirit li.current_page_item a {
  background-color: #e2f000 !important; }

.facts li {
  width: 100%; }
.facts a {
  float: right; }

.categorysingle p {
  width: 85%;
  margin-bottom: 20px;
  margin-top: 0px; }
  @media screen and (max-width: 1023px) {
    .categorysingle p {
      width: 100%; } }
.categorysingle .post-categories {
  position: relative; }

.year-categories {
  margin: -5px 0 20px 0; }
  .year-categories li {
    list-style: none;
    display: inline; }
  .year-categories a {
    font-size: 1em;
    font-weight: 400;
    background-color: #CCC8C4;
    padding: 5px; }
  .year-categories a:hover {
    background-color: #e2f000; }

a.post-placeholder {
  float: right;
  border-left: 1px solid #ecece6;
  background-color: #ecece6;
  font-size: 0.85em;
  padding: 5px;
  font-weight: 400;
  font-style: normal;
  cursor: default; }

a.post-placeholder:hover {
  float: right;
  border-left: 1px solid #ecece6;
  background-color: #ecece6;
  font-size: 0.85em;
  padding: 5px;
  font-weight: 400;
  font-style: normal;
  cursor: default; }

.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.tablepress {
  color: #B2AEAA !important;
  line-height: 1.45em; }

span.tablepress-table-description {
  padding: 10px 10px 10px 8px;
  color: white;
  font-size: 1.25em; }

.tablepress .odd td {
  background-color: black !important;
  border-bottom: 1px solid #323232 !important; }

.tablepress .even td {
  background-color: black !important;
  border-bottom: 1px solid #323232 !important; }

.tablepress .row-hover tr:hover td {
  background-color: black !important; }

.wp-caption, figure {
  background: #FFF;
  max-width: 100%;
  padding: 0px;
  text-align: left; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 101%;
  padding: 0;
  width: auto; }

figure {
  overflow: hidden;
  width: 100%;
  position: relative;
  padding: 0 !important;
  margin: 0 0 10px 0; }
  figure img {
    width: 100% !important;
    height: auto; }
  figure p {
    display: none; }

.ppt, .pp_description {
  font-size: 0.9em; }

figcaption {
  position: relative;
  width: 75%;
  line-height: 17px;
  font-size: 11px;
  padding: 10px !important;
  display: block;
  margin: 0 0 40px 0; }
  @media screen and (max-width: 1023px) {
    figcaption {
      width: 100%; } }

figure.alignright {
  width: auto;
  float: right;
  margin: 5px 0 20px 20px; }

.wp-caption .wp-caption-text, .gallery-caption {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  text-align: left; }

.gallery {
  padding: 0px;
  margin: 0px;
  width: 100%;
  min-width: 100%; }
  .gallery br {
    display: none; }

.gallery-item {
  overflow: hidden; }
  .gallery-item a:hover {
    opacity: 0.65;
    filter: alpha(opacity=65);
    /* For IE8 and earlier */ }
  .gallery-item img {
    width: 101%;
    height: auto; }
  .gallery-item dd {
    padding: 10px; }

.gallery .gallery-item {
  float: left;
  margin: 0px auto 40px auto;
  text-align: center;
  position: relative; }

.gallery-columns-2 .gallery-item {
  width: 50%; }

.gallery-columns-2 dl:nth-child(1), .gallery-columns-2 dl:nth-child(3) {
  padding: 0 10px 0 0; }

.gallery-columns-2 dl:nth-child(2), .gallery-columns-2 dl:nth-child(4) {
  padding: 0 0 0 10px; }

.gallery-columns-3 .gallery-item {
  width: 33.333%; }
  @media only screen and (max-width: 779px) {
    .gallery-columns-3 .gallery-item {
      width: 50%; } }

.gallery-columns-3 dl:nth-child(1), .gallery-columns-3 dl:nth-child(4), .gallery-columns-3 dl:nth-child(7) {
  padding: 0 10px 0 0; }

.gallery-columns-3 dl:nth-child(2), .gallery-columns-3 dl:nth-child(5), .gallery-columns-3 dl:nth-child(8) {
  padding: 0 5px 0 5px; }

.gallery-columns-3 dl:nth-child(3), .gallery-columns-3 dl:nth-child(6), .gallery-columns-3 dl:nth-child(9) {
  padding: 0 0 0 10px; }

.gallery-columns-4 .gallery-item {
  width: 25%; }
  @media only screen and (max-width: 779px) {
    .gallery-columns-4 .gallery-item {
      width: 50%; } }

.gallery-columns-8 .gallery-item {
  width: 12.5%;
  margin: 0 !important; }
  .gallery-columns-8 .gallery-item dd {
    padding: 0 !important; }

.gallery-columns-4 dl:nth-child(1), .gallery-columns-4 dl:nth-child(5), .gallery-columns-4 dl:nth-child(9) {
  padding: 0 10px 0 0; }

.gallery-columns-4 dl:nth-child(2), .gallery-columns-4 dl:nth-child(3), .gallery-columns-4 dl:nth-child(6), .gallery-columns-4 dl:nth-child(7), .gallery-columns-4 dl:nth-child(10), .gallery-columns-4 dl:nth-child(11) {
  padding: 0 5px 0 5px; }

.gallery-columns-4 dl:nth-child(4), .gallery-columns-4 dl:nth-child(8), .gallery-columns-4 dl:nth-child(12) {
  padding: 0 0 0 10px; }

.gallery-columns-4 .gallery-caption, .gallery-columns-3 .gallery-caption, .gallery-columns-2 .gallery-caption, .gallery-columns-1 .gallery-caption {
  position: relative;
  display: block; }

/*------------------------------------*\
    PRINT
\*------------------------------------*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
.pp_overlay {
  opacity: 90 !important;
  bottom: 0;
  right: 0; }

.archstuff {
  display: none; }
<<<<<<< HEAD
=======

#pl-3191 img {
  height: auto !important; }
>>>>>>> 2016-redesign
